{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <title>STAY</title>
    
</head>

<body style="font-family: sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""><strong>STAY</strong></a>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-link">Hello, {{user.first_name}}</li>

            <li class="navItem"><a class="nav-link" href="accounts/logout">Logout</a> </li><!-- first will take to accounts/ of geostruggle then to logout of urls.py accounts and finally to logout views.py of accounts and works accordingly-->
            <!-- <li class="navItem"><a class="nav-link" href="showrooms">On Rent</a> </li> -->  <!-- first takes to '' path of urls.py geostruggle then to 'showrooms' path of urls.py roomfinder and its respective views.py-->
            <li class="navItem"><a class="nav-link" href="helpp">Help</a> </li>
            <li class="navItem"><a class="nav-link" href="listingForm">List your Room</a> </li>
            {% else%}

            <li class="navItem"><a class="nav-link" href="helpp">Help</a> </li>
            <li class="navItem"><a class="nav-link" href="accounts/signin">Sign up</a> </li>
            <li class="navItem"><a class="nav-link" href="accounts/login">Login</a></li>
                {% if user.is_authenticated %}
                    <li class="navItem"><a class="nav-link" href="listingForm">List your Room</a> </li>
                {% else %}
                    <li class="navItem"><a class="nav-link" href="accounts/login">List your Room</a> </li>
                {% endif %} 
            {% endif %}
        </ul>
        </div>
    </nav>

    <section id="firstSection">
        <h1><strong>Get Rooms and Room-mates</strong></h1>
        <h2><strong>Easily . Safely . Securely</strong></h2>
        <div class="rowRoomImages">
            <div class="columnRoomImages" id="roommate">
                {% if user.is_authenticated %}
                <a href="listingForm">
                    <img src="{% static 'imagee/roommate.png'%}" alt="Get a room-mate" style="height: 300px;">
                </a>
                {% else %}
                <a href="accounts/login">
                    <img src="{% static 'imagee/roommate.png'%}" alt="Get a room-mate" style="height: 300px;">
                </a>
                {% endif %}
            </div>
            <div class="columnRoomImages" id="room">
                <a href="showrooms">
                    <img src="{% static 'imagee/room.png'%}" alt="Get a room" style="height: 300px;">
                </a>
            </div>
        </div>
    </section>


    <section id="secondSection">
        <div class="feature1">
            <div class="feature1Img">
                <img src="{% static 'imagee/rentOnYourTerms.png'%}" alt="Rent on your terms">
            </div>
            <div class="feature1Desc">
                <h2><strong>Rent on your terms</strong></h2>
                <p style="color: #707070;">It's your place. Rent it how you want.</p>
                <div>
                    <h4>DISCOVER ROOMMATE</h4>
                    <p>Use STAY if you're looking for a new friend to move in & split the rent.</p>
                </div>
                <div>
                    <h4>TERMS AND CONDITIONS</h4>
                    <p>Customize renting terms on who your tenant/roommate should be like.</p>
                    <p>Setup your house rules and list your room for rent.</p>
                </div>
            </div>
        </div>
        <div class="feature2">
            <div class="feature2Img">
                <img src="{% static 'imagee/onlineBooking.png'%}" alt="Online Booking">
            </div>
            <div class="feature2Desc">
                <h2><strong>Rent Easier Live Secure</strong></h2>
                <p style="color: #707070;">STAY makes the entire roommate finding experience simple. Everything is secured and documented.</p>
                <div>
                    <h4>ONLINE BOOKING</h4>
                    <p>Easily review booking requests from interested renters. Once you approve their request to book your room, we'll take your listing off the market and set up secure payment.</p>
                </div>
                <div>
                    <h4>SECURED CONTACTS</h4>
                    <p>When potential tenants are interested in your post. You can review their profile and only after your interest contacts are visible to both parties.</p>
                </div>
            </div>
        </div>
    </section>




    <section class="testimonials" id="thirdSection">
        <div class="review">
            <h2><strong>Testimonials</strong></h2>
            <p class="textCenter"></p>
            <div class="rowTestimonials">
                <div class="col-md-4 text-center">
                    <div class="reviewProfile">
                        <img src="{% static 'imagee/reviewProfiles/bibek-thakuri-7O9OxgfLhCQ-unsplash.jpg' %}"class="user">
                        <blockquote>Overall it was a successful hunt. Quick and easy apartment hunt. Lots of tools to help you get it done as efficiently as possible. Overall it was a successful hunt.</blockquote>
                        <h6><strong>Bibek Thakuri</strong></h6>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="reviewProfile">
                        <img src="{% static 'imagee/reviewProfiles/kartabya-aryal-u8EhtObOLks-unsplash.jpg' %}"class="user">
                        <blockquote>Overall it was a successful hunt. Quick and easy apartment hunt. Lots of tools to help you get it done as efficiently as possible. Overall it was a successful hunt.</blockquote>
                        <h6><strong>Kartabya Aryal</strong></h6>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="reviewProfile">
                        <img src="{% static 'imagee/reviewProfiles/impress-bashyal-_zcd3GxArvM-unsplash.jpg' %}"class="user">
                        <blockquote>Overall it was a successful hunt. Quick and easy apartment hunt. Lots of tools to help you get it done as efficiently as possible. Overall it was a successful hunt.</blockquote>
                        <h6><strong>Impress Bashyal</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="fourthSection">
        <h2><strong>Why STAY works?</strong></h2>
        <div>
            <p>At STAY, our mission is to help you rent a room easily, safely & securely. There are many options to find rooms and flats for rent but when it comes to renting a room or finding roommates, STAY is the best roommate finder in Nepal.</p>
            <p>Whether you are looking for a room for rent near you or a flat for rent, your personalized search results will always show you the best rooms for rent in houses based on your lifestyle preferences, lease terms, pricing and much more.</p>
            <p>If you are working on a budget to find cheapest rooms for rent near you, and if you are fine with living in a shared room for rent, then STAY filters will assist you in finding shared housing that is not only budget friendly but also inviting. STAY is also the best website to search for pet friendly rooms for rent. Just make sure that you apply pets ok in the filter.</p>
            <p>With virtual tours of rooms via photos listed on STAY, you have the flexibility of safely renting the room from the comfort of your couch. STAY helps you find a roommate you deserve and never settle for less. Get Your Perfect Roommate!</p>
        </div>
    </section>

    <footer class="footer">
            <pre></pre>
            <a href="">Home</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Testimonials</a>
            <a href="#">FAQ's</a>
            <a href="#">About Us </a>
            <a href="#">Contact Us </a>
        <hr/>
        <a href="#"><i class="fa fa-linkedin" style="margin-right: 40px;"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <i class="fa fa-copyright" style="float:left; margin-left: 60px;"> 2020 STAY Inc. All right reserved.</i>
    </footer>
</body>

</html>