<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
</head>
<body>
<ol>
 <li>First signin by entering your details like username,email etc</li>   
 <li>Use that signedin username and password to login</li>   
 <li>After login you can view the available rooms on a map by clicking Viewmap link</li>   
 <li>By clicking available markers you can see the details about rooms</li>   
 <li>You can also put available rooms on map by using '/admin' in home page where you will be see options to add roomws</li>   
 <li>Finally logout by clicking logout </li>   
</ol> 
</body>
</html>